div {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}
#ohooo {
  position: relative;
  margin-top: -6px;
}
.i1 {
  width: 100%;
}
.i2 {
  width: 100%;
}
.show {
  display: none;
}

.b1 {
  position: absolute;
  font-size: large;
  color: white;
  background-color: red;
  box-shadow:
  5px 0 black,
 -5px 0 black,
  0  5px black,
  0 -5px black,
  inset -4px -4px darkred;
  border: none;
  width: 200px;
  top: 13%;
  left: 370px;
  z-index: 20;
}
.b1:hover {
  box-shadow:
  4px 0 black,
 -4px 0 black,
  0  4px black,
  0 -4px black,
  inset -6px -6px darkred;
}
.b1:active {
  box-shadow:
  4px 0 black,
 -4px 0 black,
  0  4px black,
  0 -4px black,
  inset 6px 6px darkred;
}
.b2 {
  position: absolute;
  font-size: large;
  color: white;
  background-color: #1e90ff;
  box-shadow:
  5px 0 black,
 -5px 0 black,
  0  5px black,
  0 -5px black,
  inset -4px -4px #005db6;
  border: none;
  width: 200px;
  top: 40%;
  left: 370px;
  z-index: 20;
}
.b2:hover {
  box-shadow:
  4px 0 black,
 -4px 0 black,
  0  4px black,
  0 -4px black,
  inset -6px -6px #005db6;
}
.b2:active {
  box-shadow:
  4px 0 black,
 -4px 0 black,
  0  4px black,
  0 -4px black,
  inset 6px 6px #005db6;
}
.b3 {
  position: absolute;
  font-size: large;
  color: white;
  background-color: #1e90ff;
  box-shadow:
  5px 0 black,
 -5px 0 black,
  0  5px black,
  0 -5px black,
  inset -4px -4px #005db6;
  border: none;
  width: 200px;
  top: 68%;
  left: 370px;
  z-index: 20;
}
.b3:hover {
  box-shadow:
  4px 0 black,
 -4px 0 black,
  0  4px black,
  0 -4px black,
  inset -6px -6px #005db6;
}
.b3:active {
  box-shadow:
  4px 0 black,
 -4px 0 black,
  0  4px black,
  0 -4px black,
  inset 6px 6px #005db6;
}

